# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
indent_size = 2
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Specific settings for Rust/Python files
[{*.rs,*.py}]
indent_size = 4

# Specific settings for Markdown files
[{*.md,*.mdx,*.mdoc}]
max_line_length = off
trim_trailing_whitespace = false
