---
import { invariant } from "outvariant";

import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

invariant(
  Astro.props.href,
  "Expected `href` to be set but got `%s`",
  typeof Astro.props.href,
);
const href = Astro.props.href.toString();

const is_internal = href.startsWith("/") || href.startsWith("#");

const props = is_internal
  ? { ...Astro.props }
  : { ...Astro.props, target: "_blank", rel: "noopener noreferrer nofollow" };
---

<a {...props} {href}>
  <slot />
</a>
