@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    box-sizing: border-box;
    font-size: 62.5%;
    text-rendering: optimizeSpeed;
    text-size-adjust: none;
  }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%;
    }
  }

  :where(body) {
    min-block-size: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    position: relative;
  }

  :where(:focus-visible) {
    outline: 2px solid var(--focus-color, Highlight);
    outline-offset: 2px;
  }
}
